openai
flask
fastapi
opencv-python
requests
beautifulsoup4
scipy
git+https://github.com/huggingface/huggingface_hub
langchain
langchain-openai
llama-index
langchain-nomic
langchain_community
tiktoken
langchainhub
chromadb
langgraph
tavily-python
gpt4all
fastembed
langchain-groq
sentence-transformers
pillow
tiktoken